@import url('https://fonts.googleapis.com/css2?family=Acme&family=Courgette&family=Merienda+One&family=Shrikhand&display=swap');

.over-view {
    padding: 1.5rem;
    display: flex;
    flex-flow: column wrap;
    /* align-items: ; */
    gap: 16px;
    font-family: 'Acme', 'Courgette', 'Shrikhand', cursive;

}

.over-view h3 {
    font-weight: lighter;
    border-bottom: 2px solid grey;
    padding-bottom: 12px;
    text-align: center;
    width: 70%;
    margin: 0 auto;
}

.over-view>section:nth-child(2) {
    display: flex;
    flex-direction: column;
    margin-top: 12px;
    gap: 10px 0;
}

.over-view>section:nth-child(2)>div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.balance button {
    /* border: 0.5px solid grey; */
    border: none;
    border-radius: 4px;
    padding: 4px;
    width: 80px;
    box-shadow: 2px 2px 3px #6c6b6b;
    text-align: center;
    min-height: 35px;
    transition: all 0.3s linear;
    color: #fff;
}

.over-view>section:nth-child(3) {
    display: flex; 
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.over-view>section:nth-child(3)>p {
    display: flex;
    flex-direction: column;
}



.add {
    background-color: #72cd72;
}

.cancel {
    background-color: #f81844;
}

.income {
    color: #72cd72;
}

.expense {
    color: #f81844;
}
