@import url('https://fonts.googleapis.com/css2?family=Acme&family=Courgette&family=Merienda+One&family=Shrikhand&display=swap');

/* 
    font-family: 'Acme', sans-serif;

    font-family: 'Courgette', cursive;

    font-family: 'Merienda One', cursive;

    font-family: 'Shrikhand', cursive;
 */


.App {
  /* text-align: center; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5rem 0;

}

.App header>h2 {
  font-family: 'Merienda One', 'Shrikhand', 'Courgette', 'Acme';
  color: darkgrey;
  text-shadow: 2px 2px 3px #000;
}

.App header {
  padding-top: 1.5rem;
}

